<div class="row">
<h1>Proyectos realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Encriptador</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus ipsa officiis eos vero eaque autem nulla tenetur dolor, veniam, minima dicta? Eaque, facilis! Cum eligendi doloremque eveniet natus enim.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte 2">
          <img src="../../../assets/facebook.png" alt="" class="img-fluid-proyecto">  
    </div>
</div>
</div>
