<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg.1"></div>
    <div class="col-lg.11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3> (años)</h3>
            </li>    
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt animi quo ea distinctio libero recusandae corporis dignissimos hic nam! Earum ipsum quo at, recusandae maxime consequatur? Alias, possimus sunt?
           </p>

        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3> (años)</h3>
            </li>    
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt animi quo ea distinctio libero recusandae corporis dignissimos hic nam! Earum ipsum quo at, recusandae maxime consequatur? Alias, possimus sunt?
           </p>

        </ul>
        
    </div>
</div>
