<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg"  alt=""  class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p Id="nombre">{{persona.nombre}} Rodriguez</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatum sequi ea debitis quidem vitae, unde fugit consequatur soluta culpa nihil totam molestias odio aliquid ut, ducimus beatae. Repellendus, nihil!</p>
            </span>

        </div>
    </div>    

